@import "variables.css";
@import "normalize.css";
@import "reset.css";

/* colors defined in variables.css */
:root {
	/* font */
	--sans:  system-ui, -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--serif: Iowan Old Style, Times New Roman, Times, serif;
	--mono: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;

	/* z-index */
	--z-bottom: -100;
	--z-middle: 0;
	--z-top: 100;
	--z-overlay: 1000;

	/* presets (used in reset.css) */
	--border-radius: 6px;
	--font-body: var(--sans);
	--font-form: var(--sans);
	--color-bg: var(--color-white);
	--color-fg: var(--color-gray-900);
	--color-primary: var(--color-black);
	--color-link: var(--color-black);
	--color-focus: var(--sequential-1);
	--color-mark: var(--color-yellow);
	--color-selection: var(--color-gray-300);
	--color-border: var(--color-gray-300);
	--color-button-bg: var(--color-gray-900);
	--color-button-fg: var(--color-white);
	--color-button-hover: var(--color-gray-700);
	--color-input-bg: var(--color-gray-50);
	--color-input-fg: var(--color-gray-900);
	--color-placeholder: var(--color-gray-500);

	/* "1" second duration */
	--1s: 1ms;

	--doc-height: 100%;
	--header-height: 56px;
	--peak-height: 104px;
}

/* dark theme */
/* this is a starting place for dark mode - test before deploying */

/* @media screen and (prefers-color-scheme:dark) {
	:root {
		--color-bg: var(--color-gray-900);
		--color-fg: var(--color-gray-100);
		--color-primary: var(--color-white);
		--color-link: var(--color-white);
		--color-focus: var(--color-red);
		--color-mark: var(--color-yellow);
		--color-selection: var(--color-gray-600);
		--color-border: var(--color-gray-600);
		--color-button-bg: var(--color-gray-600);
		--color-button-fg: var(--color-gray-100);
		--color-button-hover: var(--color-gray-700);
		--color-input-bg: var(--color-gray-800);
		--color-input-fg: var(--color-gray-100);
		--color-placeholder: var(--color-gray-400);
		--color-text-outline: var(--color-bg);
	}
} */

@media screen and (prefers-reduced-motion: no-preference) {
	:root {
		--1s: 1s;
	}
}

/* html,
body {
 padding: 0;
 margin: 0;
 height: 100vh;
 height: var(--doc-height);
}



body > div {
	height: 100%;
} */

html, body, body > div {
	height: 100%;
	overflow: hidden;
}

main {
	height: calc(100% - var(--header-height));
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight:800;
}

a {
	text-decoration: underline;
	border: none;
}

.leaflet-bar a {
	padding: 0;
}

button {
	font-weight: 800;
	text-transform: uppercase;
}

.threshold- {
	background: var(--color-gray-300) !important;
}

.threshold-0 {
	background: var(--sequential-0) !important;;
	color: var(--color-bg);
}

.threshold-1 {
	background: var(--sequential-1) !important;;
}

.threshold-2 {
	background: var(--sequential-2) !important;;
}

.leaflet-container a {
	color: var(--color-fg) !important;
	text-decoration: underline !important;
}

.leaflet-container:focus, .leaflet-container a:focus	 {
	outline: 2px solid var(--color-focus) !important;
	outline-offset: 2px !important;
	border: none !important;
}

.leaflet-control-zoom a {
	color: var(--color-bg) !important;
	background: var(--color-fg) !important;
	text-decoration: none !important;
	border-radius: var(--border-radius) !important;
	margin-top: 2px;
}

.leaflet-control-zoom a:hover {
	background: var(--color-gray-700) !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
	border: none !important;
}

button.btn-fancy {
	background-size: auto 200%;
		background-image: linear-gradient(
			to bottom,
			var(--sequential-0) 0%,
			var(--sequential-1) 50%,
			var(--sequential-2) 100%
		);
		transition: background-position 0.25s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
	button.btn-fancy:hover {
		background-position: center 90%;
	}
}